body {
  background: rgb(54, 54, 54);
}
#resultDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  color: #e0e0e0;
  font-size: 22px;
  font-family: monospace;
  /* margin-top: 700px; */
}
#canvas1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #e9e9e9;
  border-radius: 5px;
}
#playerImage {
  display: none;
}
#backgroundImage {
  display: none;
}
#enemyImage {
  display: none;
}
#coinImage {
  display: none;
}
#note {
  color: #e0e0e0;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 100px;
  margin-top: 650px;
  margin-bottom: 100px;
}
p {
  margin: 8px;
}
